.no-support__container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	.no-support__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.construction-icon {
			width: 54px;
			height: 54px;
			margin: 0 0 40px 0;
		}

		.no-support__title {
			color: var(--white);
			font-size: 20px;
			margin: 0 0 10px 0;
			font-weight: 600;
		}

		.no-support__description {
			color: var(--white);
			font-size: 15px;
			margin: 0 0 40px 0;
			font-weight: 500;
		}

		.qr-code__container {
			background-color: var(--dark-blue);
			border: 1px solid var(--darker-blue);
			border-radius: 20px;

			.qr-code__icon {
				width: 215px;
				height: 215px;
				fill: var(--white);
			}
		}
	}
}