.boost {
	overflow: auto;
	display: flex;
	flex-direction: column;
	height: 100%;

	.boost-container {
		padding: 0 15px 15px 15px;
		display: flex;
		flex-direction: column;
		flex: 1;
	
		.boost-list__container {
			margin: 0 0 0 0;
			flex: 1;
			display: flex;
			flex-direction: column;
		
			.boost-list__title {
				color: var(--white);
				font-size: 15px;
				margin: 0 0 15px 11px;
				font-weight: 600;
			}
		
			.boost-list__wrapper {
				flex: 1;
			}
		
			.boost-contact {
				color: var(--medium-dark-gray);
				font-size: 10px;
				font-weight: 400;
				margin: 20px 0 5px 0;
				text-align: center;
		
				&__link {
					color: var(--blue);
					text-decoration: none;
				}
			}
		}
	}
}