// Подключаем файл обнуляющий css по умолчанию
@import url("./normalize.css");

// Цветовые переменные
:root {
	--palette-live-black: #101010;
	--palette-live-black-2: #1F1F1F;
	--palette-live-black-3: #32363A;
	--palette-live-black-4: #272727;
	--palette-live-grey: #929292;
	--palette-live-grey-2: #737373;
	--palette-live-grey-3: #3F3F3F;
	--palette-live-grey-4: #B6B6B6;
	--palette-live-grey-5: #6B6B6B;
	--palette-live-white: #fff;
	--palette-live-yellow: #FECE26;
	--palette-live-orange: #A27E00;
	--palette-live-yellow-2: #DEB422;
	--palette-live-yellow-3: #B38C05;
	--palette-live-red: #EB3F3F;
	--palette-live-blue: #3B6FBD;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--palette-live-black);

	#root {
		display: flex;
		flex-direction: column;
		height: 100vh;
		position: fixed;
		left: 0;
		right: 0;
		user-select: none;
	}
}

input,
textarea,
button,
select,
a {
	-webkit-tap-highlight-color: transparent;
}